


{% extends 'molnet/base.html' %}
{% load staticfiles %}

{% block content %}
  

<head>
     <link href=”http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel=”stylesheet” type=”text/css”>
     <link href=”http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css" rel=”stylesheet” type=”text/css”>
     <script src=”http://cdn.pydata.org/bokeh/release/bokeh-1.3.1.min.js"></script>
     <script src=”http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.1.min.js"></script>
       {{ resources | safe }}
       {{ script | safe }}
</head>
    
    
<body>
    {{ m_networks | safe }}
</body>
    
{% endblock %}